html {
  box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  @font-face {
    font-family: 'Nunito';
    src: local('Nunito-Regular'),
    url('../fonts/Nunito-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Nunito';
    src: local('Nunito-Bolt'),
    url('../fonts/Nunito-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  } 
  
  body::before {
    position: absolute;
    top: 0;
    right: 0;
    content: url(/gazonia.jpg);
    z-index: -1;
  }
  
  body {
    min-width: 200px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    background: var(--bg-1);
  }
  
  /* glob */
  
  :root {
    --bg-1: #8E9A82;
    --bg-2: #484848;
    --txt-1: #FFF;
    --txt-2: #000;
    --txt-3: #929292;
    --txt-4: #7A7979;
    --form-1: #D7DBD3;
    --form-2: #EEE;
    --form-3: #DEDEDE;
    --act-1: #81B151;
    --input-1: #E6E6E6;
    --link-1: #0956B5;
  }
  
  .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .flex {
    display: flex;
  }
  
  .container {
  max-width: 1800px;
  padding: 0 45px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  }
  
  .section-title {
    margin: 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--txt-2);
  }
  
  .section-descr {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: var(--txt-2);
  }
  
  .section-offset-1 {
    margin-bottom: 50px;
  }
  
  .btn {
    padding: 8px 60px;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 6px;
    color: var(--txt-2);
    background-color: var(--txt-1);
    transition: color 0.2s ease-in-out , background-color 0.2s ease-in-out;
  }
  
  .btn:focus {
    outline: none;
    background-color: var(--act-1);
  }
  
  .btn:hover {
    background-color: var(--act-1);
  }
  
  .btn:active {
    background-color: var(--act-1);
  }